# MONGO-DB ASSIGMENT

### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
### MongoDB over SQL databases?

##### MongoDB is a document-oriented NoSQL database used for high volume data storage. Instead of using tables and rows as in the traditional relational databases, MongoDB makes use of collections and documents. Documents consist of key-value pairs which are the basic unit of data in MongoDB. Collections contain sets of documents and function which is the equivalent of relational database tables. MongoDB is a database which came into light around the mid-2000s.

##### NoSQL databases (aka "not only SQL") are non-tabular databases and store data differently than relational tables. NoSQL databases come in a variety of types based on their data model. The main types are document, key-value, wide-column, and graph. They provide flexible schemas and scale easily with large amounts of data and high user loads.

#### When to use MongoDB vs. MySQL
The core differences between these two database systems are significant. Choosing which one to use is really a question of approach rather than purely technical decision.

MySQL is a mature relational database system, offering a familiar database environment for experienced IT professionals.

MongoDB is a well-established, non-relational database system offering improved flexibility and horizontal scalability, but at the cost of some safety features of relational databases, such as referential integrity.

MongoDB vs. MySQL user-friendliness

#### MongoDB vs. MySQL user-friendliness
MongoDB is an attractive option to developers. Its data storage philosophy is simple and immediately understandable to anybody with programming experience.

#### MongoDB vs. MySQL flexibility
This is an easy one, and a hands-down win for MongoDB. The schemaless design of MongoDB documents makes it extremely easy to build and enhance applications over time, without needing to run complex and expensive schema migration processes as you would with a relational database.

#### MongoDB vs. MySQL security
MongoDB leverages the popular role-based access control model with a flexible set of permissions. Users are assigned to a role, and that role grants them specific permissions over datasets and database operations. All communication is encrypted with TLS, and it’s possible to write encrypted documents to MongoDB data collections using a master key which is never available to MongoDB, achieving encryption of data at rest.

# Q2. State and Explain the features of MongoDB.

#### MongoDB Features
Each database contains collections which in turn contains documents. Each document can be different with a varying number of fields. The size and content of each document can be different from each other.

The document structure is more in line with how developers construct their classes and objects in their respective programming languages. Developers will often say that their classes are not rows and columns but have a clear structure with key-value pairs.

The rows (or documents as called in MongoDB) doesn’t need to have a schema defined beforehand. Instead, the fields can be created on the fly.

The data model available within MongoDB allows you to represent hierarchical relationships, to store arrays, and other more complex structures more easily.

Scalability – The MongoDB environments are very scalable. Companies across the world have defined clusters with some of them running 100+ nodes with around millions of documents within the database

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [6]:
import pymongo

In [57]:
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.n3f4po2.mongodb.net/?retryWrites=true&w=majority")

In [58]:
db = client.test
db

Database(MongoClient(host=['ac-jeyjgez-shard-00-00.n3f4po2.mongodb.net:27017', 'ac-jeyjgez-shard-00-02.n3f4po2.mongodb.net:27017', 'ac-jeyjgez-shard-00-01.n3f4po2.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-evvuez-shard-0', ssl=True), 'test')

In [12]:
db = client['pwskills1']

In [13]:
col1_pwskills1 = db['my_record1']

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record,
#### and insert many records. Use the find() and find_one() methods to print the inserted record.

##### Inserted One Record

In [14]:
data = {"name" : "dang",
        "class" : "data science masters",
        "time"  : "flexi"}

In [15]:
col1_pwskills1.insert_one(data)

##### Inserted Many Records

In [17]:
data2 = [
    {"name":"Rahul","address":"Gurgaon Haryana"},
    {"name":"Vikas","address":"Surat Gujarat"},
    {"name":"Akash","address":"Mumbai Maharastra"},
    {"name":"Arohi","address":"New Delhi, Delhi"},
    {"name":"Abhay","address":"Noida U.P"},
    {"name":"Ashish","address":"Pune Maharastra"},
    {"name":"Surbhi","address":"Nanital U.K"},
]

In [18]:
col1_pwskills1.insert_many(data2)

##### Retrieve one record using find_one

In [20]:
col1_pwskills1.find_one()

{'_id': ObjectId('63f1e51d2cff6f4eeca152a2'),
 'name': 'dang',
 'class': 'data science masters',
 'time': 'flexi'}

##### Retrieve record using find

In [22]:
for i in col1_pwskills1.find():
    print(i)

{'_id': ObjectId('63f1e51d2cff6f4eeca152a2'), 'name': 'dang', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a3'), 'name': 'Rahul', 'address': 'Gurgaon Haryana'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a4'), 'name': 'Vikas', 'address': 'Surat Gujarat'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a5'), 'name': 'Akash', 'address': 'Mumbai Maharastra'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a6'), 'name': 'Arohi', 'address': 'New Delhi, Delhi'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a7'), 'name': 'Abhay', 'address': 'Noida U.P'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a8'), 'name': 'Ashish', 'address': 'Pune Maharastra'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a9'), 'name': 'Surbhi', 'address': 'Nanital U.K'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
#### demonstrate this.

In [31]:
for i in col1_pwskills1.find():
    print(i)

{'_id': ObjectId('63f1e51d2cff6f4eeca152a2'), 'name': 'dang', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a3'), 'name': 'Rahul', 'address': 'Gurgaon Haryana'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a4'), 'name': 'Vikas', 'address': 'Surat Gujarat'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a5'), 'name': 'Akash', 'address': 'Mumbai Maharastra'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a6'), 'name': 'Arohi', 'address': 'New Delhi, Delhi'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a7'), 'name': 'Abhay', 'address': 'Noida U.P'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a8'), 'name': 'Ashish', 'address': 'Pune Maharastra'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a9'), 'name': 'Surbhi', 'address': 'Nanital U.K'}

##### Code Explanation:
##### 1) pwskills1 is the collection name in the MongoDB database
##### 2) The MongoDB find query is an in-built function which is used to retrieve the documents in the collection.

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one. If we want to return pointer on all documents then use empty() parameter that returns all documents one by one.

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively.

If a sort returns the same result every time we perform on same data, then such type of sort is known as a stable sort.
If a sort returns a different result every time we perform on same data, then such type of sort is known as unstable sort.
MongoDB generally performs a stable sort unless sorting on a field that holds duplicate values.
We can use limit() method with sort() method, it will return first m documents, where m is the given limit.
MongoDB can find the result of the sort operation using indexes.
If MongoDB does not find sort order using index scanning, then it uses top-k sort algorithm.

## Syntax:
#### db.Collection_Name.sort({filed_name:1 or -1})

Parameter:

The parameter contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 that specifies an ascending or descending sort respectively. The type of parameter is a document.

In [46]:
for i in col1_pwskills1.find().sort('name',direction=-1):
    print(i)

{'_id': ObjectId('63f1e7932cff6f4eeca152a4'), 'name': 'Vikas', 'address': 'Surat Gujarat'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a9'), 'name': 'Surbhi', 'address': 'Nanital U.K'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a3'), 'name': 'Rahul', 'address': 'Gurgaon Haryana'}
{'_id': ObjectId('63f1e51d2cff6f4eeca152a2'), 'name': 'Dang', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a8'), 'name': 'Ashish', 'address': 'Pune Maharastra'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a6'), 'name': 'Arohi', 'address': 'New Delhi, Delhi'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a5'), 'name': 'Akash', 'address': 'Mumbai Maharastra'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a7'), 'name': 'Abhay', 'address': 'Noida U.P'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used?

##### MongoDB – db.collection.deleteone()

##### The deleteOne() method deletes the first document from the collection that matches the given selection criteria. It will delete/remove a single document from the collection. It takes four parameters, the first parameter is the selection criteria and the others are optional.

In [50]:
db.col1_pwskills1.delete_one({'name' : 'Vikas'})

#### Here, we delete the first document that matches the filter query(i.e., name:Vikas) from the pwskills collection using deleteOne() method.

#### MongoDB – Delete Multiple Documents
#### In MongoDB, you are allowed to delete the existing documents from the collection using db.collection.deleteMany() method. This method deletes multiple documents from the collection according to the filter.

deleteMany() is a mongo shell method, which can delete multiple documents. This method can be used in the multi-document transactions. If you use this method in capped collection, then it will throw an exception.

In [52]:
db.col1_pwskills1.delete_many({'name':'Pramod'})

In this example, we are deleting multiple documents from the contributor collection that matches the filter, i.e., name: “Pramod”. Or in other words, we are removing those contributors who has name 'Pramod' from the database.

In [56]:
for i in col1_pwskills1.find():
    print(i)

{'_id': ObjectId('63f1e51d2cff6f4eeca152a2'), 'name': 'Dang', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a3'), 'name': 'Rahul', 'address': 'Gurgaon Haryana'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a4'), 'name': 'Vikas', 'address': 'Surat Gujarat'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a5'), 'name': 'Akash', 'address': 'Mumbai Maharastra'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a6'), 'name': 'Arohi', 'address': 'New Delhi, Delhi'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a7'), 'name': 'Abhay', 'address': 'Noida U.P'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a8'), 'name': 'Ashish', 'address': 'Pune Maharastra'}
{'_id': ObjectId('63f1e7932cff6f4eeca152a9'), 'name': 'Surbhi', 'address': 'Nanital U.K'}

#### MongoDB – Drop Collection

The drop() method removes collections from the database. It also removes all indexes associated with the dropped collection. The drop method accepts an optional document. It returns true if the collection dropped successfully. It takes one parameter which is optional.

This method creates an invalidate Event for any change streams opened for dropped collection.
This method obtains an exclusive lock on the given collection for the duration of the operation. Till then all the subsequent operations must wait for the drop() method to release the lock.

### We have my_record1 collection in the pwskills database, and we want to drop it when we give command:
It drops the my_record1 collection and all the indexes associated with the collection:

In [62]:
db.col1_pwskills1.drop()