## MY-SQL Assignment Questions

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system.

#####  1) SQL databases are primarily called RDBMS or Relational Databases.
#####  1) NoSQL databases are primarily called as Non-relational or distributed database.

#### 2) Traditional RDBMS uses SQL syntax and queries to analyze and get the data for further insights. They are used for OLAP systems.
#### 2) NoSQL database system consists of various kind of database technologies. These databases were developed in response to the demands presented for the development of the modern application.

#### 3) Structured query language (SQL).
#### 3) No-Sql is No declarative query language.

#### 4) SQL databases are table based databases.
#### 4) NoSQL databases can be document based, key-value pairs, graph databases.

#### 5) SQL databases have a predefined schema.
#### 5) NoSQL databases use dynamic schema for unstructured data.

#### 6) SQL databases are vertically scalable.
#### 6) NoSQL databases are horizontally scalable.

#### 7) SQL Example are Oracle, Postgres, and MS-SQL.
#### 7) No-SQL Examples are MongoDB, Redis, Neo4j, Cassandra, Hbase.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### DDL is a subset of SQL commands that we use to create and modify the structure of objects in a database. We can change the database structure by adding new tables or objects with all of their attributes such as data type, table name, and so on.

## 1) CREATE

### The DDL command CREATE is used to create the database or any objects such as a table, index, function, view, and store procedures.

#### CREATE DATABASE database_name;

# 2) DROP

## Drops commands remove tables and databases from RDBMS.

### DROP TABLE ;
### Drop table student;

# 3) ALTER

## Alters command allows you to alter the structure of the database.

### To add a new column in the table
#### ALTER TABLE table_name ADD column_name COLUMN-definition;

# 4) TRUNCATE

## This command used to delete all the rows from the table and free the space containing the table.

### TRUNCATE TABLE table_name;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.

### INSERT:
### This is a statement that is a SQL query. This command is used to insert data into the row of a table.

#### For example: INSERT INTO students (RollNo, FIrstName, LastName) VALUES ('60', 'Tom', 'Erichsen');

#   UPDATE:
##  This command is used to update or modify the value of a column in the table.
###  For example:
#### UPDATE students    
#### SET FirstName = 'Jhon', LastName=' Wick' 
#### WHERE StudID = 3;

# DELETE:
## This command is used to remove one or more rows from a table.
#### DELETE FROM students WHERE FirstName = 'Jhon';

# Q4. What is DQL? Explain SELECT with an example.

#### DQL or data query language is to perform the query on the data inside the schema or object (ie table, index, view, function, etc). With the help of a DQL query, we can get the data from the database to perform actions or operations like analyzing the data.

#### Syntax:

####  Select * from Table_Name;

#### Example:
#### Select * from Student;

# Q5. Explain Primary Key and Foreign Key.

#### Primary Key - A primary key constrain is a column or group of columns that uniquely identifies every row in the table of the relational database management system. It cannot be a duplicate, meaning the same value should not appear more than once in the table.
#### A table can not have more than one primary key. Primary key can be defined at the column or the table level. If you create a composite primary key, it should be defined at the table level. 

#### Foreign Key - Foreign key is a column that creates a relationship between two tables. The purpose of the Foreign key is to maintain data integrity and allow navigation between two different instances of an entity. It acts as a cross-reference between two tables as it references the primary key of another table. Every relationship in the database should be supported by a foreign key.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host = "localhost",  
  user = "abc",
  password = "password"  
)
mycursor = mydb.cursor()
mycursor.execute("select * from table_name")
mydb.close()

#### A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query
#### The execute () method helps us to execute the query and return records according to the query. The syntax of the execute () function is:
#### execute (query, args = None)
#### query: This should be a string type
#### Arguments: By default, the arguments are None because sometimes we can pass only a query like a SELECT query which fetches the records and does not require any values. So that’s the reason for the args=None by default. But if we want to pass the values in the case of the INSERT query, then the type of the arguments must be a tuple, list, or dict only.

# Q7. Give the order of execution of SQL clauses in an SQL query.

#### The order in which the clauses in queries are executed is as follows:

##### 1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

##### 2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

##### 3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

##### 4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

##### 5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

##### 6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

##### 7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.