# Pandas Advance - 1 Assignment

## Q1. List any five functions of the pandas library with execution.

### 1. pd.read_csv, pd.read_excel
The first function to mention is read_csv or read_excel.

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

### 2) df.columns
When you have a big dataset like that it can be hard to see all the columns. using .columns function, you can print out all the columns of the dataset:

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### 3) .len()
Provides with the length of the DataFrame. Let’s see an example:

In [7]:
len(df)

891

### 4) df.count()
It provides you the number of data in the DataFrame in the specified direction. When the direction is 0, it provides the number of data in the columns:

In [8]:
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

### 5) df[‘’].describe()
This is a great function that provides some basic statistical measures. Here I am using the describe function on the wage_eur column:

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [189]:
data = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(data,columns=['A','B','C'])

In [190]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [229]:
index = [1,3,5]

In [231]:
df.reindex(index)

     A    B    C
1  4.0  5.0  6.0
3  NaN  NaN  NaN
5  NaN  NaN  NaN

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [232]:
import pandas as pd
data = [10,20,30,40,50]

In [233]:
df1 =pd.DataFrame(data,columns=['Value'])

In [234]:
df1.iloc[0:3].sum()

Value    60
dtype: int64

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [235]:
data = ['First One','Second Two','Third Three','Fourth','Fifth']
df2 = pd.DataFrame(data,columns=['Text'])

In [236]:
df2

          Text
0    First One
1   Second Two
2  Third Three
3       Fourth
4        Fifth

In [237]:
df2['word_count'] = df2['Text'].apply(lambda x: len(x))

In [238]:
df2

          Text  word_count
0    First One           9
1   Second Two          10
2  Third Three          11
3       Fourth           6
4        Fifth           5

### Q5. How are DataFrame.size() and DataFrame.shape() different?

#### property DataFrame.size Return an int representing the number of elements in this object.

Return the number of rows if Series. Otherwise return the number of rows times number of columns if DataFrame.

In [239]:
df2.size

10

### property DataFrame.shape
Return a tuple representing the dimensionality of the DataFrame.

In [240]:
df2.shape

(5, 2)

### Q6. Which function of pandas do we use to read an excel file?

### pandas.read_excel() function is used to read excel sheet with extension xlsx into pandas DataFrame. By reading a single sheet it returns a pandas DataFrame object, but reading two sheets it returns a Dict of DataFrame.

In [241]:
import pandas as pd
df = pd.read_excel(" ")

FileNotFoundError: [Errno 2] No such file or directory: ' '

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'
column.

In [242]:
data = ['a@gmail.com','b@gmail.com','c@gmail.com','d@gmail.com']

In [243]:
df3 = pd.DataFrame(data,columns=['Email'])

In [244]:
df3

         Email
0  a@gmail.com
1  b@gmail.com
2  c@gmail.com
3  d@gmail.com

In [245]:
df3['Username'] = df3['Email'].apply(lambda x:x.split('@')[0])

In [246]:
df3

         Email Username
0  a@gmail.com        a
1  b@gmail.com        b
2  c@gmail.com        c
3  d@gmail.com        d

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:
. A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [247]:
data = [[3,5,1],[8,2,7],[6,9,4],[2,3,5],[9,1,2]]
df4 = pd.DataFrame(data,columns=['A','B','C'])
df4

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [248]:
df5 = df4[(df4['A'] > 5) & (df4['B'] < 10)]

In [249]:
df5

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.

In [250]:
data = [10,20,30,40,50,60]
df6 = pd.DataFrame(data,columns=['Values'])

In [251]:
df6

   Values
0      10
1      20
2      30
3      40
4      50
5      60

In [252]:
df6.describe()

          Values
count   6.000000
mean   35.000000
std    18.708287
min    10.000000
25%    22.500000
50%    35.000000
75%    47.500000
max    60.000000

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [253]:
df7 = pd.DataFrame({'Sales': [7, 7, 9, 13, 14, 13, 13, 19, 20, 26],
                     'Date' : ['01-Feb-2023','02-Feb-2023','03-Feb-2023','04-Feb-2023','05-Feb-2023','06-Feb-2023','07-Feb-2023','08-Feb-2023','09-Feb-2023','10-Feb-2023']})

In [254]:
df7

   Sales         Date
0      7  01-Feb-2023
1      7  02-Feb-2023
2      9  03-Feb-2023
3     13  04-Feb-2023
4     14  05-Feb-2023
5     13  06-Feb-2023
6     13  07-Feb-2023
7     19  08-Feb-2023
8     20  09-Feb-2023
9     26  10-Feb-2023

In [255]:
df7['Moving Average'] = df7['Sales'].rolling(7).mean()

In [256]:
df7

   Sales         Date  Moving Average
0      7  01-Feb-2023             NaN
1      7  02-Feb-2023             NaN
2      9  03-Feb-2023             NaN
3     13  04-Feb-2023             NaN
4     14  05-Feb-2023             NaN
5     13  06-Feb-2023             NaN
6     13  07-Feb-2023       10.857143
7     19  08-Feb-2023       12.571429
8     20  09-Feb-2023       14.428571
9     26  10-Feb-2023       16.857143

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [257]:
df8 = pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})

In [258]:
df8['Date'] = pd.to_datetime(df8['Date'])

In [259]:
df8

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

In [260]:
import datetime
df8['Weekday'] = df8["Date"].apply(lambda x: datetime.datetime.strftime(x, '%A'))

In [261]:
df8

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [262]:
df8['Weekday'] = df8['Date'].dt.day_name()

In [263]:
df8

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [264]:
import pandas as pd

# Make a DataFrame with dates and random numbers
df9 = pd.DataFrame()
df9['date'] = pd.date_range('2023-01-01', periods=60, freq='D')

In [265]:
df9

         date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31
31 2023-02-01
32 2023-02-02
33 2023-02-03
34 2023-02-04
35 2023-02-05
36 2023-02-06
37 2023-02-07
38 2023-02-08
39 2023-02-09
40 2023-02-10
41 2023-02-11
42 2023-02-12
43 2023-02-13
44 2023-02-14
45 2023-02-15
46 2023-02-16
47 2023-02-17
48 2023-02-18
49 2023-02-19
50 2023-02-20
51 2023-02-21
52 2023-02-22
53 2023-02-23
54 2023-02-24
55 2023-02-25
56 2023-02-26
57 2023-02-27
58 2023-02-28
59 2023-03-01

In [266]:
dates = pd.date_range('2023-01-01', '2023-01-31', freq='d')

In [267]:
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

##### To use basic functions of pandas we have to use below 2 libraries: -
install pandas
import pandas as pd