In [1]:
import pandas as pd

#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
mylis1 = [4,8,15,16,23,42]
ps = pd.Series(mylis1)

In [5]:
ps

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

list1 = [1,2,3,4,5,6,7,8,9,10]

In [8]:
list1 = [1,2,3,4,5,6,7,8,9,10]
ps1 = pd.Series(list1)

In [9]:
ps1.dtypes

dtype('int64')

In [11]:
ps1.loc[[3]]

3    4
dtype: int64

In [12]:
ps1.is_unique

True

In [13]:
ps1.shape

(10,)

In [23]:
ps1.agg(['min','max'])

min     1
max    10
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:

In [25]:
# initialize list of lists
data = [['Alice', 25,'Female'], ['Bob', 30,'Male'], ['Claire', 27,'Female']]
df = pd.DataFrame(data,columns=['Name','Age','Gender'])

In [26]:
df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas DataFrame:

A pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. It can also be thought of as a collection of two or more series with common indices.

In [47]:
import pandas as pd

##### INITIALIZATION #####

fruits_jack = ["apples", "oranges", "bananas"]
fruits_john = ["guavas", "kiwis", "strawberries"]
index = ["a", "b", "c"]
all_fruits = {"Jack's": fruits_jack, "John's": fruits_john}

fruits_default_index = pd.DataFrame(all_fruits)
print("Dataframe with default indices:\n", fruits_default_index, "\n")

new_fruits = pd.DataFrame(all_fruits, index = index)
print("Dataframe with given indices:\n", new_fruits, "\n")

Dataframe with default indices:
     Jack's        John's
0   apples        guavas
1  oranges         kiwis
2  bananas  strawberries

Dataframe with given indices:
     Jack's        John's
a   apples        guavas
b  oranges         kiwis
c  bananas  strawberries

### Series:-
A pandas series is a one-dimensional data structure that comprises of key-value pair, where keys/labels are the indices and values are the values stored on that index. It is similar to a python dictionary, except it provides more freedom to manipulate and edit the data.

In [48]:
import pandas

##### INTIALIZATION #####

#STRING SERIES
fruits = pandas.Series(["apples", "oranges", "bananas"])

print("Fruit series:")
print(fruits)

#FLOAT SERIES
temperature = pandas.Series([32.6, 34.1, 28.0, 35.9])

print("\nTemperature series:")
print(temperature)

#INTEGER SERIES
factors_of_12 = pandas.Series([1,2,4,6,12])

print("\nFactors of 12 series:")
print(factors_of_12)

print("Type of this data structure is:", type(factors_of_12))

Fruit series:
0     apples
1    oranges
2    bananas
dtype: object

Temperature series:
0    32.6
1    34.1
2    28.0
3    35.9
dtype: float64

Factors of 12 series:
0     1
1     2
2     4
3     6
4    12
dtype: int64
Type of this data structure is: <class 'pandas.core.series.Series'>

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [50]:
DataFrame = pandas.DataFrame({"A" : [1, 3, 4], "B": [5, 9, 12]})
print(DataFrame)

   A   B
0  1   5
1  3   9
2  4  12

2) Get the Mean

In [51]:
DataFrame.mean()

A    2.666667
B    8.666667
dtype: float64

###  DataFrame.transform

In [52]:
DataFrame = DataFrame.transform(lambda y: y*3)
print(DataFrame)

    A   B
0   3  15
1   9  27
2  12  36

###  DataFrame.isnull

In [53]:
DataFrame.isnull().sum()

A    0
B    0
dtype: int64

### Dataframe.info - It returns the summary of non-missing values for each column instead:

In [55]:
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

### DataFrame.drop 
pandas' drop() function deletes specific rows or columns in a DataFrame. You have to supply the column names or row index and an axis to use it.

In [57]:
DataFrame.drop(columns=['A'], axis=0)

    B
0  15
1  27
2  36

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?


### Panel in pandas:
Panel is a three-dimensional data structure with heterogeneous data.

### Key Features of a Panel:
1) Heterogeneous data
2) Size Mutable
3) Data Mutable

### Series in Pandas:
Series is a one-dimensional array with homogeneous data.  All the elements of series should be of same data type

### Key Features of a Series:
1) Homogeneous data
2) Size Immutable –size cannot be changed
3) Values of Data Mutable

### DataFrame in pandas:
DataFrame is a two-dimensional array with heterogeneous data, usually represented in the tabular format. The data is represented in rows and columns. Each column represents an attribute and each row represents a person.

### Key Features of a DataFrame:
1) Heterogeneous data
2) Size Mutable
3) Data Mutable